src/main/resources/xsd/mil_std_2045_application_header.dfdl.xsd

<?xml version='1.0' encoding='UTF-8'?>

<!--
Copyright (c) 2014 Tresys Technology, LLC. All rights reserved.

Developed by: Tresys Technology, LLC
              http://www.tresys.com

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal with
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

 1. Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimers.

 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimers in the
    documentation and/or other materials provided with the distribution.

 3. Neither the names of Tresys Technology, nor the names of its contributors
    may be used to endorse or promote products derived from this Software
  without specific prior written permission.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
SOFTWARE.
-->
<xs:schema 
  targetNamespace="urn:milstd2045DFDL" 
  xmlns:tns="urn:milstd2045DFDL"
  xmlns:msdfdl="urn:milstd2045DFDL" 
  xmlns:msi="urn:milstd2045DFDLInternal"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/ xsd/DFDL_part3_model.xsd 
  http://www.w3.org/2001/XMLSchema xsd/XMLSchema_for_DFDL.xsd 
  urn:milstd2045DFDLInternal xsd/milstd2045.internal.dfdl.xsd" 
  xmlns:fn="http://www.w3.org/2005/xpath-functions" 
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  elementFormDefault="unqualified">
  
  <xs:include schemaLocation="xsd/milstd2045.common.dfdl.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:import namespace="urn:milstd2045DFDLInternal" schemaLocation="xsd/milstd2045.internal.dfdl.xsd"/>
  
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:msCommon"/>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:group name="gh_mil_std_2045_application_header_data_compression_type_2_1_FPI">
    <xs:sequence>
      <xs:element name="data_compression_type_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_originator_address_group_urn_3_1_1_FPI">
    <xs:sequence>
      <xs:element name="urn_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_originator_address_group_unit_name_3_2_1_FPI">
    <xs:sequence>
      <xs:element name="unit_name_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_originator_address_group_3_1_GPI">
    <xs:sequence>
      <xs:element name="originator_address_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_recipient_address_group_urn_4_1_1_1_FPI">
    <xs:sequence>
      <xs:element name="urn_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_recipient_address_group_unit_name_4_1_2_1_FPI">
    <xs:sequence>
      <xs:element name="unit_name_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_recipient_address_group_4_1_1_GRI">
    <xs:sequence>
      <xs:element name="recipient_address_group_GRI" type="msi:tGRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_recipient_address_group_4_1_1_GPI">
    <xs:sequence>
      <xs:element name="recipient_address_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_information_address_group_urn_5_1_1_1_FPI">
    <xs:sequence>
      <xs:element name="urn_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_information_address_group_unit_name_5_1_2_1_FPI">
    <xs:sequence>
      <xs:element name="unit_name_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_information_address_group_5_1_1_GRI">
    <xs:sequence>
      <xs:element name="information_address_group_GRI" type="msi:tGRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_information_address_group_5_1_1_GPI">
    <xs:sequence>
      <xs:element name="information_address_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_header_size_6_1_FPI">
    <xs:sequence>
      <xs:element name="header_size_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_7_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_8_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_9_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_10_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_11_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_standard_version_12_2_1_FPI">
    <xs:sequence>
      <xs:element name="message_standard_version_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_vmf_message_identification_group_message_subtype_12_2_3_1_FPI">
    <xs:sequence>
      <xs:element name="message_subtype_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_vmf_message_identification_group_12_2_1_GPI">
    <xs:sequence>
      <xs:element name="vmf_message_identification_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_file_name_13_1_FPI">
    <xs:sequence>
      <xs:element name="file_name_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_size_14_1_FPI">
    <xs:sequence>
      <xs:element name="message_size_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_control_release_marking_19_1_1_FRI">
    <xs:sequence>
      <xs:element name="control_release_marking_FRI" type="msi:tFRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_control_release_marking_19_1_1_FPI">
    <xs:sequence>
      <xs:element name="control_release_marking_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_originator_dtg_group_dtg_extension_20_7_1_FPI">
    <xs:sequence>
      <xs:element name="dtg_extension_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_originator_dtg_group_20_1_GPI">
    <xs:sequence>
      <xs:element name="originator_dtg_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_perishability_dtg_group_21_1_GPI">
    <xs:sequence>
      <xs:element name="perishability_dtg_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_acknowledgement_request_group_22_1_GPI">
    <xs:sequence>
      <xs:element name="acknowledgement_request_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_response_data_group_dtg_extension_23_7_1_FPI">
    <xs:sequence>
      <xs:element name="dtg_extension_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_response_data_group_cantco_reason_code_29_1_FPI">
    <xs:sequence>
      <xs:element name="cantco_reason_code_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_response_data_group_cantpro_reason_code_30_1_FPI">
    <xs:sequence>
      <xs:element name="cantpro_reason_code_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_response_data_group_reply_amplification_31_1_FPI">
    <xs:sequence>
      <xs:element name="reply_amplification_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_response_data_group_23_1_GPI">
    <xs:sequence>
      <xs:element name="response_data_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_urn_32_1_1_1_FPI">
    <xs:sequence>
      <xs:element name="urn_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_unit_name_32_1_2_1_FPI">
    <xs:sequence>
      <xs:element name="unit_name_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_dtg_extension_32_1_10_FPI">
    <xs:sequence>
      <xs:element name="dtg_extension_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_32_1_1_GRI">
    <xs:sequence>
      <xs:element name="reference_message_data_group_GRI" type="msi:tGRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_32_1_1_GPI">
    <xs:sequence>
      <xs:element name="reference_message_data_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_future_use_33_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_future_use_34_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_future_use_35_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_future_use_36_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_future_use_37_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_keying_material_group_38_2_1_GPI">
    <xs:sequence>
      <xs:element name="keying_material_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_cryptographic_initialization_group_38_3_1_GPI">
    <xs:sequence>
      <xs:element name="cryptographic_initialization_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_key_token_group_key_token_38_4_2_1_FRI">
    <xs:sequence>
      <xs:element name="key_token_FRI" type="msi:tFRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_key_token_group_38_4_1_GPI">
    <xs:sequence>
      <xs:element name="key_token_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_authentication_data_a_group_38_5_1_GPI">
    <xs:sequence>
      <xs:element name="authentication_data_a_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_authentication_data_b_group_38_6_1_GPI">
    <xs:sequence>
      <xs:element name="authentication_data_b_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_message_security_padding_group_message_security_padding_38_8_2_1_FPI">
    <xs:sequence>
      <xs:element name="message_security_padding_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_message_security_padding_group_38_8_1_GPI">
    <xs:sequence>
      <xs:element name="message_security_padding_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_message_security_group_38_1_GPI">
    <xs:sequence>
      <xs:element name="message_security_group_GPI" type="msi:tGPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_message_handling_group_12_1_GRI">
    <xs:sequence>
      <xs:element name="message_handling_group_GRI" type="msi:tGRI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_39_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_40_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_41_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_42_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="gh_mil_std_2045_application_header_future_use_43_1_FPI">
    <xs:sequence>
      <xs:element name="future_use_FPI" type="msi:tFPI"/>
    </xs:sequence>
  </xs:group>
  
  <xs:element name="mil_std_2045_application_header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" dfdl:lengthKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_data_compression_type_2_1_FPI"/>
        <xs:element name="data_compression_type" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:data_compression_type_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="msdfdl:tIntField" dfdl:length="2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_originator_address_group_3_1_GPI"/>
        <xs:element name="originator_address_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:originator_address_group_GPI }">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_originator_address_group_urn_3_1_1_FPI"/>
              <xs:element name="urn" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:urn_FPI } ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="24"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_originator_address_group_unit_name_3_2_1_FPI"/>
              <xs:element name="unit_name" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:unit_name_FPI }">
                <xs:complexType>
                  <xs:group ref="msi:tString64"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_recipient_address_group_4_1_1_GPI"/>
        <xs:element name="recipient_address_group" minOccurs="0" maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{ if (dfdl:occursIndex() = 1) then ../msdfdl:recipient_address_group_GPI = 1 else ../msdfdl:recipient_address_group[dfdl:occursIndex()-1]/msdfdl:recipient_address_group_GRI = 1 }</dfdl:discriminator>
                  </xs:appinfo>
                </xs:annotation>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_recipient_address_group_4_1_1_GRI"/>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_recipient_address_group_urn_4_1_1_1_FPI"/>
              <xs:element name="urn" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:urn_FPI } ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="24"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_recipient_address_group_unit_name_4_1_2_1_FPI"/>
              <xs:element name="unit_name" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:unit_name_FPI }">
                <xs:complexType>
                  <xs:group ref="msi:tString64"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_information_address_group_5_1_1_GPI"/>
        <xs:element name="information_address_group" minOccurs="0" maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{ if (dfdl:occursIndex() = 1) then ../msdfdl:information_address_group_GPI = 1 else ../msdfdl:information_address_group[dfdl:occursIndex()-1]/msdfdl:information_address_group_GRI = 1 }</dfdl:discriminator>
                  </xs:appinfo>
                </xs:annotation>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_information_address_group_5_1_1_GRI"/>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_information_address_group_urn_5_1_1_1_FPI"/>
              <xs:element name="urn" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:urn_FPI } ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="24"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_information_address_group_unit_name_5_1_2_1_FPI"/>
              <xs:element name="unit_name" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:unit_name_FPI }">
                <xs:complexType>
                  <xs:group ref="msi:tString64"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_header_size_6_1_FPI"/>
        <xs:element name="header_size" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:header_size_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="msdfdl:tIntField" dfdl:length="16"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_7_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_8_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_9_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_10_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_11_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="message_handling_group" minOccurs="0" maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{ if (dfdl:occursIndex() = 1) then true() else ../msdfdl:message_handling_group[dfdl:occursIndex()-1]/msdfdl:message_handling_group_GRI = 1 }</dfdl:discriminator>
                  </xs:appinfo>
                </xs:annotation>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_12_1_GRI"/>
              <xs:element name="umf" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_standard_version_12_2_1_FPI"/>
              <xs:element name="message_standard_version" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:message_standard_version_FPI } ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_vmf_message_identification_group_12_2_1_GPI"/>
              <xs:element name="vmf_message_identification_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:vmf_message_identification_group_GPI }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fad" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="message_number" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_vmf_message_identification_group_message_subtype_12_2_3_1_FPI"/>
                    <xs:element name="message_subtype" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:message_subtype_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_file_name_13_1_FPI"/>
              <xs:element name="file_name" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:file_name_FPI }">
                <xs:complexType>
                  <xs:group ref="msi:tString64"/>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_size_14_1_FPI"/>
              <xs:element name="message_size" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:message_size_FPI } ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="20"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="operation_indicator" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="2"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="retransmit_indicator" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="message_precedence_codes" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="3"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="security_classification" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="2"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_control_release_marking_19_1_1_FPI"/>
              <xs:element name="control_release_marking" minOccurs="0" maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:sequence>
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:discriminator>{ if (dfdl:occursIndex() = 1) then ../msdfdl:control_release_marking_FPI= 1 else ../msdfdl:control_release_marking[dfdl:occursIndex()-1]/msdfdl:control_release_marking_FRI = 1 }</dfdl:discriminator>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_control_release_marking_19_1_1_FRI"/>
                    <xs:element name="value" type="msdfdl:tIntField" dfdl:length="9"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_originator_dtg_group_20_1_GPI"/>
              <xs:element name="originator_dtg_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:originator_dtg_group_GPI }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="month" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="day" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hour" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="minute" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="second" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_originator_dtg_group_dtg_extension_20_7_1_FPI"/>
                    <xs:element name="dtg_extension" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:dtg_extension_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="12"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_perishability_dtg_group_21_1_GPI"/>
              <xs:element name="perishability_dtg_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:perishability_dtg_group_GPI }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="month" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="day" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hour" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="minute" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="second" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_acknowledgement_request_group_22_1_GPI"/>
              <xs:element name="acknowledgement_request_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:acknowledgement_request_group_GPI }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="machine_acknowledge_request_indicator" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="operator_acknowledge_request_indicator" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="operator_reply_request_indicator" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="2"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_response_data_group_23_1_GPI"/>
              <xs:element name="response_data_group" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:response_data_group_GPI }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="month" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="day" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hour" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="minute" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="second" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_response_data_group_dtg_extension_23_7_1_FPI"/>
                    <xs:element name="dtg_extension" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:dtg_extension_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="12"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="r_c" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="3"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_response_data_group_cantco_reason_code_29_1_FPI"/>
                    <xs:element name="cantco_reason_code" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:cantco_reason_code_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="3"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_response_data_group_cantpro_reason_code_30_1_FPI"/>
                    <xs:element name="cantpro_reason_code" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:cantpro_reason_code_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_response_data_group_reply_amplification_31_1_FPI"/>
                    <xs:element name="reply_amplification" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:reply_amplification_FPI }">
                      <xs:complexType>
                        <xs:group ref="msi:tString50"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_32_1_1_GPI"/>
              <xs:element name="reference_message_data_group" minOccurs="0" maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:sequence>
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:discriminator>{ if (dfdl:occursIndex() = 1) then ../msdfdl:reference_message_data_group_GPI = 1 else ../msdfdl:reference_message_data_group[dfdl:occursIndex()-1]/msdfdl:reference_message_data_group_GRI = 1 }</dfdl:discriminator>
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_32_1_1_GRI"/>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_urn_32_1_1_1_FPI"/>
                    <xs:element name="urn" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:urn_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="24"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_unit_name_32_1_2_1_FPI"/>
                    <xs:element name="unit_name" minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:unit_name_FPI }">
                      <xs:complexType>
                        <xs:group ref="msi:tString64"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="year" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="7"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="month" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="4"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="day" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hour" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="5"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="minute" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="second" dfdl:lengthKind="implicit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="6"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_reference_message_data_group_dtg_extension_32_1_10_FPI"/>
                    <xs:element name="dtg_extension" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:dtg_extension_FPI } ">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="msdfdl:tIntField" dfdl:length="12"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_future_use_33_1_FPI"/>
              <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_future_use_34_1_FPI"/>
              <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_future_use_35_1_FPI"/>
              <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_future_use_36_1_FPI"/>
              <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_future_use_37_1_FPI"/>
              <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:group ref="msdfdl:message_security_group"/>
            </xs:sequence> 
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_39_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_40_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_41_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_42_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_future_use_43_1_FPI"/>
        <xs:element name="future_use" minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../msdfdl:future_use_FPI } ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group_size" type="msdfdl:tIntField" dfdl:length="12"/>
              <xs:element name="future_use_group_data" type="msdfdl:tBigIntField" dfdl:length="{ ../msdfdl:group_size }"/>            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="tns:trimOrFillToByteBoundary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- for testing this subsection of the header separately against the table D-I
       in the spec. -->
  <xs:element name="message_security_group_with_PI">
  <xs:complexType>
    <xs:group ref="msdfdl:message_security_group" />
  </xs:complexType>
</xs:element>

  <xs:group name="message_security_group">
    <xs:sequence>
      <xs:sequence
        dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_38_1_GPI" />
      <xs:element name="message_security_group" minOccurs="0"
        maxOccurs="1" dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../msdfdl:message_security_group_GPI }">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="security_parameters_information"
              dfdl:lengthKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="msdfdl:tIntField"
                    dfdl:length="4" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_keying_material_group_38_2_1_GPI" />
            <xs:element name="keying_material_group" minOccurs="0"
              maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:keying_material_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="keying_material_id_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="3" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="keying_material_id"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tBigIntField"
                          dfdl:length="{ (../../msdfdl:keying_material_id_length/msdfdl:value + 1) * 8 }" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_cryptographic_initialization_group_38_3_1_GPI" />
            <xs:element name="cryptographic_initialization_group"
              minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:cryptographic_initialization_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cryptographic_initialization_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="4" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="cryptographic_initialization"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tBigIntField"
                          dfdl:length="{ (../../msdfdl:cryptographic_initialization_length/msdfdl:value + 1) * 64 }" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_key_token_group_38_4_1_GPI" />
            <xs:element name="key_token_group" minOccurs="0"
              maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:key_token_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key_token_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="8" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="key_token" minOccurs="0"
                    maxOccurs="unbounded" dfdl:lengthKind="implicit"
                    dfdl:occursCountKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:appinfo source="http://www.ogf.org/dfdl/">
                              <dfdl:discriminator>{ if (dfdl:occursIndex() = 1)
                                then true() else
                                ../msdfdl:key_token[dfdl:occursIndex()-1]/msdfdl:key_token_FRI
                                = 1 }</dfdl:discriminator>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:sequence>
                        <xs:sequence
                          dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_key_token_group_key_token_38_4_2_1_FRI" />
                        <xs:element name="value" type="msdfdl:tBigIntField"
                          dfdl:length="{ (../../msdfdl:key_token_length/msdfdl:value + 1) * 64 }" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_authentication_data_a_group_38_5_1_GPI" />
            <xs:element name="authentication_data_a_group" minOccurs="0"
              maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:authentication_data_a_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="authentication_data_a_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="7" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="authentication_data_a"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tBigIntField"
                          dfdl:length="{ (../../msdfdl:authentication_data_a_length/msdfdl:value + 1) * 64 }" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_authentication_data_b_group_38_6_1_GPI" />
            <xs:element name="authentication_data_b_group" minOccurs="0"
              maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:authentication_data_b_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="authentication_data_b_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="7" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="authentication_data_b"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tBigIntField"
                          dfdl:length="{ (../../msdfdl:authentication_data_b_length/msdfdl:value + 1) * 64 }" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="signed_acknowledge_request_indicator"
              dfdl:lengthKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="msdfdl:tIntField"
                    dfdl:length="1" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence
              dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_message_security_padding_group_38_8_1_GPI" />
            <xs:element name="message_security_padding_group"
              minOccurs="0" maxOccurs="1" dfdl:occursCountKind="expression"
              dfdl:occursCount="{ ../msdfdl:message_security_padding_group_GPI }">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="message_security_padding_length"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="8" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:sequence
                    dfdl:hiddenGroupRef="msdfdl:gh_mil_std_2045_application_header_message_handling_group_message_security_group_message_security_padding_group_message_security_padding_38_8_2_1_FPI" />
                  <xs:element name="message_security_padding"
                    minOccurs="0" maxOccurs="1" dfdl:lengthKind="implicit"
                    dfdl:occursCountKind="expression"
                    dfdl:occursCount="{ ../msdfdl:message_security_padding_FPI } ">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="msdfdl:tIntField"
                          dfdl:length="{ (../../msdfdl:message_security_padding_length/msdfdl:value + 1) * 8}" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="trimOrFillToByteBoundary">
    <xs:sequence>
      <xs:element name="_zero_padding" nillable="true" dfdl:nilKind="literalValue"
        dfdl:nilValue="%ES;" type="xs:string" dfdl:lengthUnits="bytes"
        dfdl:alignment="1" dfdl:alignmentUnits="bytes" dfdl:length="0"
        dfdl:lengthKind="explicit" />
    </xs:sequence>
  </xs:group>

</xs:schema>
