src/main/resources/xsd/milstd2045_application_header.dfdl.xsd

<?xml version='1.0' encoding='UTF-8'?>

<!-- Copyright (c) 2014 Tresys Technology, LLC. All rights reserved. Developed by: 
  Tresys Technology, LLC http://www.tresys.com Permission is hereby granted, free of 
  charge, to any person obtaining a copy of this software and associated documentation 
  files (the "Software"), to deal with the Software without restriction, including 
  without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
  and/or sell copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 1. Redistributions of source 
  code must retain the above copyright notice, this list of conditions and the following 
  disclaimers. 2. Redistributions in binary form must reproduce the above copyright 
  notice, this list of conditions and the following disclaimers in the documentation 
  and/or other materials provided with the distribution. 3. Neither the names of Tresys 
  Technology, nor the names of its contributors may be used to endorse or promote products 
  derived from this Software without specific prior written permission. THE SOFTWARE 
  IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING 
  BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE 
  AND NONINFRINGEMENT. IN NO EVENT SHALL THE CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE 
  FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT 
  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE 
  OR OTHER DEALINGS WITH THE SOFTWARE. -->
<xs:schema targetNamespace="urn:milstd2045DFDL" xmlns:tns="urn:milstd2045DFDL"
  xmlns:msi="urn:milstd2045DFDLInternal" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:msms="urn:milstd2045DFDLMessageSize"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/ xsd/DFDL_part3_model.xsd 
  http://www.w3.org/2001/XMLSchema xsd/XMLSchema_for_DFDL.xsd 
  urn:milstd2045DFDLInternal xsd/milstd2045.internal.dfdl.xsd
  urn:milstd2045DFDLMessageSize xsd/milstd2045_message_size.dfdl.xsd"
  xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  elementFormDefault="unqualified">

  <xs:include schemaLocation="xsd/milstd2045.common.dfdl.xsd" />
  <xs:import namespace="urn:milstd2045DFDLInternal" schemaLocation="xsd/milstd2045.internal.dfdl.xsd" />
  <xs:import namespace="urn:milstd2045DFDLMessageSize" schemaLocation="xsd/milstd2045_message_size.dfdl.xsd" />

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:msCommon" />
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="future_use_group_type">
    <xs:sequence>
      <xs:element name="group_size" type="tns:tIntField" dfdl:length="12" dfdl:outputValueCalc="
{ (fn:count(../future_use_group_data/word) * 32) +
  (fn:count(../future_use_group_data/partialWord) * dfdl:valueLength(../future_use_group_data/partialWord, 'bits')) }"/>
      <!-- DFDL doesn't allow length units of 'bits' for xs:nonNegativeInteger, 
           So we use an array of unsigned int, for this opaque region. -->
      <xs:element name="future_use_group_data">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="word" type="tns:tIntField" dfdl:length="32" minOccurs="0" maxOccurs="128"
                  dfdl:occursCountKind="expression" dfdl:occursCount="{ ../../group_size div 32 }"/>
            <xs:element name="partialWord" type="tns:tIntField" minOccurs="0" maxOccurs="1"
                  dfdl:length="{ ../../group_size mod 32 }" dfdl:occursCountKind="expression"
                  dfdl:occursCount="{ if ((../../group_size mod 32) ne 0) then 1 else 0 }"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="milstd2045_application_header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" dfdl:lengthKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="tns:tIntField"
                dfdl:length="4" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="data_compression_type" dfdl:lengthKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField"
                    dfdl:length="2" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="originator_address_group">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="urn" dfdl:lengthKind="implicit">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="24" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="unit_name">
                        <xs:complexType>
                          <xs:group ref="msi:tString64" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="recipient_address_group" minOccurs="1"
              maxOccurs="unbounded" dfdl:lengthKind="implicit"
              dfdl:occursCountKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:appinfo source="http://www.ogf.org/dfdl/">
                        <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                          fn:true() else
                          ../recipient_address_group[dfdl:occursIndex()-1]/GRI
                          eq 1 }
                        </dfdl:discriminator>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="urn" dfdl:lengthKind="implicit">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="24" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="unit_name">
                        <xs:complexType>
                          <xs:group ref="msi:tString64" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="information_address_group" minOccurs="1"
              maxOccurs="unbounded" dfdl:lengthKind="implicit"
              dfdl:occursCountKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:annotation>
                      <xs:appinfo source="http://www.ogf.org/dfdl/">
                        <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                          fn:true() else
                          ../information_address_group[dfdl:occursIndex()-1]/GRI
                          eq 1 }
                        </dfdl:discriminator>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="urn" dfdl:lengthKind="implicit">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="24" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                  <xs:choice>
                    <xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                      <xs:element name="unit_name">
                        <xs:complexType>
                          <xs:group ref="msi:tString64" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="header_size" dfdl:lengthKind="implicit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField"
                    dfdl:length="16" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_0" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_1" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_2" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_3" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_4" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:element name="message_handling_group" minOccurs="1"
          maxOccurs="unbounded" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                      fn:true() else
                      ../message_handling_group[dfdl:occursIndex()-1]/GRI
                      eq 1 }
                    </dfdl:discriminator>
                  </xs:appinfo>
                </xs:annotation>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
              <xs:element name="umf" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="tns:tIntField"
                      dfdl:length="4" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="message_standard_version"
                    dfdl:lengthKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="tns:tIntField"
                          dfdl:length="4" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="vmf_message_identification_group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="fad" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="4" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="message_number"
                          dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="7" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="message_subtype"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="7" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="file_name">
                    <xs:complexType>
                      <xs:group ref="msi:tString64" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <!-- The user of milstd2045 header must define the message
                       size. Typically, message size is of type tns:tIntField
                       with a dfdl:length of 20. See milstd2045_message_size.dfdl.xsd
                       for the typical implementation -->
                  <xs:element ref="msms:message_size" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:element name="operation_indicator" dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="tns:tIntField"
                      dfdl:length="2" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="retransmit_indicator"
                dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="tns:tIntField"
                      dfdl:length="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="message_precedence_codes"
                dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="tns:tIntField"
                      dfdl:length="3" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="security_classification"
                dfdl:lengthKind="implicit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="tns:tIntField"
                      dfdl:length="2" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="control_release_marking"
                    dfdl:lengthKind="implicit" minOccurs="1" maxOccurs="unbounded"
                    dfdl:occursCountKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:appinfo source="http://www.ogf.org/dfdl/">
                              <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1)
                                then
                                fn:true() else
                                ../control_release_marking[dfdl:occursIndex()-1]/FRI
                                eq 1 }
                              </dfdl:discriminator>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:FRI" />
                        <xs:element name="value" type="tns:tIntField"
                          dfdl:length="9" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="originator_dtg_group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="year" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="7" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="month" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="4" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="day" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="hour" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="minute" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="second" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="dtg_extension"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="12" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="perishability_dtg_group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="year" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="7" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="month" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="4" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="day" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="hour" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="minute" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="second" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="acknowledgement_request_group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="machine_acknowledge_request_indicator"
                          dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="1" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="operator_acknowledge_request_indicator"
                          dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="1" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="operator_reply_request_indicator"
                          dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="2" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="response_data_group">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="year" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="7" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="month" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="4" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="day" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="hour" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="minute" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="second" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="dtg_extension"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="12" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                        <xs:element name="r_c" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="3" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="cantco_reason_code"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="3" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="cantpro_reason_code"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="6" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="reply_amplification">
                              <xs:complexType>
                                <xs:group ref="msi:tString50" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="reference_message_data_group"
                    minOccurs="1" maxOccurs="unbounded" dfdl:lengthKind="implicit"
                    dfdl:occursCountKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:appinfo source="http://www.ogf.org/dfdl/">
                              <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1)
                                then
                                fn:true() else
                                ../reference_message_data_group[dfdl:occursIndex()-1]/GRI
                                eq 1 }
                              </dfdl:discriminator>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="urn" dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="24" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="unit_name">
                              <xs:complexType>
                                <xs:group ref="msi:tString64" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                        <xs:element name="year" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="7" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="month" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="4" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="day" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="hour" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="5" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="minute" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="second" dfdl:lengthKind="implicit">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value" type="tns:tIntField"
                                dfdl:length="6" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                            <xs:element name="dtg_extension"
                              dfdl:lengthKind="implicit">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="tns:tIntField"
                                    dfdl:length="12" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="future_use_0" type="tns:future_use_group_type"
                    dfdl:lengthKind="implicit" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>

              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="future_use_1" type="tns:future_use_group_type"
                    dfdl:lengthKind="implicit" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>

              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="future_use_2" type="tns:future_use_group_type"
                    dfdl:lengthKind="implicit" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="future_use_3" type="tns:future_use_group_type"
                    dfdl:lengthKind="implicit" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:choice>
                <xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                  <xs:element name="future_use_4" type="tns:future_use_group_type"
                    dfdl:lengthKind="implicit" />
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
              </xs:choice>
              <xs:group ref="tns:message_security_group" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_5" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_6" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_7" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_8" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
            <xs:element name="future_use_9" type="tns:future_use_group_type"
              dfdl:lengthKind="implicit" />
          </xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
        </xs:choice>
        <xs:sequence dfdl:hiddenGroupRef="tns:trimOrFillToByteBoundary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- for testing this subsection of the header separately against the table D-I 
    in the spec. -->
  <xs:element name="message_security_group_with_PI">
    <xs:complexType>
      <xs:group ref="tns:message_security_group" />
    </xs:complexType>
  </xs:element>

  <xs:group name="message_security_group">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element name="message_security_group">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="security_parameters_information"
                  dfdl:lengthKind="implicit">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="tns:tIntField"
                        dfdl:length="4" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="keying_material_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="keying_material_id_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="3" dfdl:outputValueCalc="{ dfdl:valueLength(../../keying_material_id/value, 'bytes') - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="keying_material_id"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:lengthUnits="bytes"
                                  dfdl:length="{ ../../keying_material_id_length/value + 1 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="cryptographic_initialization_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cryptographic_initialization_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="4" dfdl:outputValueCalc="{ (dfdl:valueLength(../../cryptographic_initialization/value, 'bytes') div 8) - 1 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="cryptographic_initialization"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:lengthUnits="bytes"
                                  dfdl:length="{ (../../cryptographic_initialization_length/value + 1) * 8 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="key_token_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key_token_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="8" dfdl:outputValueCalc="{ (dfdl:valueLength(../../key_token[1]/value, 'bytes') div 8) - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="key_token" minOccurs="1"
                            maxOccurs="unbounded" dfdl:lengthKind="implicit"
                            dfdl:occursCountKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator>{ if
                                        (dfdl:occursIndex() eq
                                        1)
                                        then fn:true()
                                        else
                                        ../key_token[dfdl:occursIndex()-1]/FRI
                                        eq 1 }
                                      </dfdl:discriminator>
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:sequence dfdl:hiddenGroupRef="msi:FRI" />
                                <xs:element name="value" type="tns:tHexBinary" dfdl:lengthUnits="bytes"
                                  dfdl:length="{ (../../key_token_length/value + 1) * 8 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="authentication_data_a_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="authentication_data_a_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="7" dfdl:outputValueCalc="{ (dfdl:valueLength(../../authentication_data_a/value, 'bytes') div 8) - 1 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="authentication_data_a"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:lengthUnits="bytes"
                                  dfdl:length="{ (../../authentication_data_a_length/value + 1) * 8 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="authentication_data_b_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="authentication_data_b_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="7" dfdl:outputValueCalc="{ (dfdl:valueLength(../../authentication_data_b/value, 'bytes') div 8) - 1}" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="authentication_data_b"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:lengthUnits="bytes"
                                  dfdl:length="{ (../../authentication_data_b_length/value + 1) * 8 }" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:element name="signed_acknowledge_request_indicator"
                  dfdl:lengthKind="implicit">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="tns:tIntField"
                        dfdl:length="1" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="message_security_padding_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="message_security_padding_length"
                            dfdl:lengthKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="8" dfdl:outputValueCalc="
{ if (fn:exists(../../message_security_padding))
  then ((dfdl:valueLength(../../message_security_padding/value, 'bits') div 8) - 1)
  else 0
}"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:sequence>
                              <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                              <xs:element name="message_security_padding"
                                dfdl:lengthKind="implicit">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="value" type="tns:tIntField"
                                      dfdl:length="{ (../../message_security_padding_length/value + 1) * 8}" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="trimOrFillToByteBoundary">
    <xs:sequence>
      <xs:element name="_zero_padding" nillable="true" dfdl:nilKind="literalValue"
        dfdl:nilValue="%ES;" type="xs:int" dfdl:length="0"
        dfdl:lengthKind="explicit" dfdl:alignment="1" dfdl:alignmentUnits="bytes" dfdl:outputValueCalc="{ 0 }" />
    </xs:sequence>
  </xs:group>

</xs:schema>
