src/main/resources/com/tresys/mil-std-2045/xsd/milstd2045_application_header.dfdl.xsd

<?xml version="1.0"?>
<!-- <![CDATA[
  Copyright (c) 2014-2019 Tresys Technology, LLC. All rights reserved. 
  
  Developed by: Tresys Technology, LLC http://www.tresys.com 
  
  Permission is hereby granted, free of 
  charge, to any person obtaining a copy of this software and associated documentation 
  files (the "Software"), to deal with the Software without restriction, including 
  without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
  and/or sell copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 1. Redistributions of source 
  code must retain the above copyright notice, this list of conditions and the following 
  disclaimers. 2. Redistributions in binary form must reproduce the above copyright 
  notice, this list of conditions and the following disclaimers in the documentation 
  and/or other materials provided with the distribution. 3. Neither the names of Tresys 
  Technology, nor the names of its contributors may be used to endorse or promote products 
  derived from this Software without specific prior written permission. 
  
  THE SOFTWARE 
  IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING 
  BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE 
  AND NONINFRINGEMENT. IN NO EVENT SHALL THE CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE 
  FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT 
  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE 
  OR OTHER DEALINGS WITH THE SOFTWARE. 
  
  ]]>
-->
<xs:schema 
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
  xmlns:fn="http://www.w3.org/2005/xpath-functions" 
  xmlns:msi="urn:milstd2045DFDLInternal" 
  xmlns:msms="urn:milstd2045DFDLMessageSize" 
  xmlns:tns="urn:milstd2045DFDL" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  elementFormDefault="unqualified" 
  targetNamespace="urn:milstd2045DFDL">
  
  <xs:include schemaLocation="com/tresys/mil-std-2045/xsd/milstd2045.common.dfdl.xsd"/>
  <xs:import namespace="urn:milstd2045DFDLInternal" schemaLocation="com/tresys/mil-std-2045/xsd/milstd2045.internal.dfdl.xsd"/>
  <xs:import namespace="urn:milstd2045DFDLMessageSize" schemaLocation="com/tresys/mil-std-2045/xsd/milstd2045_message_size.dfdl.xsd"/>
  
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:msCommon"/>
      <dfdl:defineVariable name="versionSpec" type="xs:string" defaultValue="C"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="milstd2045_application_header_type">
    <xs:sequence>
      <xs:element name="version">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="tns:tIntField" dfdl:length="4">
              <xs:annotation>
                <xs:appinfo source="http://www.ogf.org/dfdl/">
                  <dfdl:setVariable ref="tns:versionSpec">
                    {
                      if (. eq 2) then "C"
                      else if (. eq 4) then "D1"
                      else fn:error(fn:concat("Unsupported MIL-STD-2045 version: ", .))
                    }
                  </dfdl:setVariable>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element name="data_compression_type">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="value" type="tns:tIntField" dfdl:length="2">
                  <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                      <dfdl:assert 
                        message="Compression is not supported in this version of the mil-std-2045 header DFDL schema.">{
                       fn:true() 
                      }</dfdl:assert>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element name="originator_address_group">
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="urn">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="tns:tIntField" dfdl:length="24" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="unit_name">
                      <xs:complexType>
                        <xs:group ref="msi:tString64" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element maxOccurs="unbounded" minOccurs="1" name="recipient_address_group"
            dfdl:occursCountKind="implicit">
            <xs:complexType>
              <xs:sequence>
                <xs:sequence>
                  <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                      <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                        fn:true() else
                        ../recipient_address_group[dfdl:occursIndex()-1]/GRI
                        eq 1 }
                      </dfdl:discriminator>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="urn">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="tns:tIntField" dfdl:length="24" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="unit_name">
                      <xs:complexType>
                        <xs:group ref="msi:tString64" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element maxOccurs="unbounded" minOccurs="1" name="information_address_group"
            dfdl:occursCountKind="implicit">
            <xs:complexType>
              <xs:sequence>
                <xs:sequence>
                  <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                      <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                        fn:true() else
                        ../information_address_group[dfdl:occursIndex()-1]/GRI
                        eq 1 }
                      </dfdl:discriminator>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="urn">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="tns:tIntField" dfdl:length="24" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                    <xs:element name="unit_name">
                      <xs:complexType>
                        <xs:group ref="msi:tString64" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
          <xs:element name="header_size">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="value" type="tns:tIntField" dfdl:length="16"
                  dfdl:outputValueCalc="{ dfdl:valueLength(../.., 'bytes') }" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
      </xs:choice>
      <xs:group ref="tns:futureUseGroup1To5"/>
      <!-- start message handling group -->
      <xs:element maxOccurs="unbounded" minOccurs="1" name="message_handling_group"
        dfdl:occursCountKind="implicit">
        <xs:complexType>
          <xs:sequence>
            <xs:sequence>
              <xs:annotation>
                <xs:appinfo source="http://www.ogf.org/dfdl/">
                  <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1) then
                    fn:true() else
                    ../message_handling_group[dfdl:occursIndex()-1]/GRI
                    eq 1 }
                  </dfdl:discriminator>
                </xs:appinfo>
              </xs:annotation>
            </xs:sequence>
            <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
            <xs:element name="umf">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField" dfdl:length="4" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="message_standard_version">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="tns:tIntField" dfdl:length="4" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="vmf_message_identification_group">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="fad">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="4" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="message_number">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="7" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="message_subtype">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="7" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="file_name">
                  <xs:complexType>
                    <xs:group ref="msi:tString64" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <!-- The user of milstd2045 header must define the message size. Typically, message 
                  size is of type tns:tIntField with a dfdl:length of 20. See milstd2045_message_size.dfdl.xsd for 
                  the typical implementation -->
                <xs:element name="message_size" type="msms:message_size_type" />
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:element name="operation_indicator">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField" dfdl:length="2" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="retransmit_indicator">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField" dfdl:length="1" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="message_precedence_codes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField" dfdl:length="3" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="security_classification">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="tns:tIntField" dfdl:length="2" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:choice dfdl:choiceDispatchKey="{ $tns:versionSpec }">
                  <xs:element dfdl:choiceBranchKey="D1" maxOccurs="unbounded" minOccurs="1" name="control_release_marking_D1"
                    dfdl:occursCountKind="implicit">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:appinfo source="http://www.ogf.org/dfdl/">
                              <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1)
                                then
                                fn:true() else
                                ../control_release_marking_D1[dfdl:occursIndex()-1]/FRI
                                eq 1 }
                              </dfdl:discriminator>
                            </xs:appinfo>
                          </xs:annotation>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:FRI" />
                        <xs:element name="value" type="tns:tIntField" dfdl:length="9" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element dfdl:choiceBranchKey="C" name="control_release_marking_C">
                    <xs:complexType>
                      <xs:group ref="msi:tString32"/>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="originator_dtg_group">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="year">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="7" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="month">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="4" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="day">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="hour">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="minute">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="second">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="dtg_extension">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="12" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="perishability_dtg_group">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="year">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="7" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="month">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="4" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="day">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="hour">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="minute">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="second">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="acknowledgement_request_group">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="machine_acknowledge_request_indicator"
                       >
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="1" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="operator_acknowledge_request_indicator"
                       >
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="1" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="operator_reply_request_indicator"
                       >
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="2" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element name="response_data_group">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="year">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="7" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="month">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="4" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="day">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="hour">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="minute">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="second">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="dtg_extension">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="12" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                      <xs:element name="r_c">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="3" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="cantco_reason_code">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="3" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="cantpro_reason_code">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="6" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="reply_amplification">
                            <xs:complexType>
                              <xs:group ref="msi:tString50" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:choice>
              <xs:sequence>
                <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                <xs:element maxOccurs="unbounded" minOccurs="1"
                  name="reference_message_data_group"
                  dfdl:occursCountKind="implicit">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:sequence>
                        <xs:annotation>
                          <xs:appinfo source="http://www.ogf.org/dfdl/">
                            <dfdl:discriminator>{ if (dfdl:occursIndex() eq 1)
                              then
                              fn:true() else
                              ../reference_message_data_group[dfdl:occursIndex()-1]/GRI
                              eq 1 }
                            </dfdl:discriminator>
                          </xs:appinfo>
                        </xs:annotation>
                      </xs:sequence>
                      <xs:sequence dfdl:hiddenGroupRef="msi:GRI" />
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="urn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="24" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="unit_name">
                            <xs:complexType>
                              <xs:group ref="msi:tString64" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                      <xs:element name="year">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="7" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="month">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="4" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="day">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="hour">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="5" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="minute">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="second">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="tns:tIntField"
                              dfdl:length="6" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:sequence>
                          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true" />
                          <xs:element name="dtg_extension">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField"
                                  dfdl:length="12" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="msi:PI_false" />
            </xs:choice>
            <xs:group ref="tns:futureUseGroup6To10"/>
            <xs:group ref="tns:message_security_group" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:group ref="tns:futureUseGroup11To15"/>
      <!-- end message handling group -->
      <xs:sequence dfdl:alignment="1" dfdl:alignmentUnits="bytes" />
    </xs:sequence>
  </xs:complexType>
  
  <!-- for testing this subsection of the header separately against the table D-I 
    in the spec. -->
  <xs:element name="message_security_group_with_PI">
    <xs:complexType>
      <xs:group ref="tns:message_security_group"/>
    </xs:complexType>
  </xs:element>
  
  <xs:group name="message_security_group">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
          <xs:element name="message_security_group">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="security_parameters_information">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="tns:tIntField" dfdl:length="4"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="keying_material_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="keying_material_id_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="3" dfdl:outputValueCalc="{ dfdl:valueLength(../../keying_material_id/value, 'bytes') - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="keying_material_id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:length="{ ../../keying_material_id_length/value + 1 }" dfdl:lengthUnits="bytes"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="cryptographic_initialization_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cryptographic_initialization_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="4" dfdl:outputValueCalc="{ (dfdl:valueLength(../../cryptographic_initialization/value, 'bytes') idiv 8) - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="cryptographic_initialization">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:length="{ (../../cryptographic_initialization_length/value + 1) * 8 }" dfdl:lengthUnits="bytes"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="key_token_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key_token_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="8" dfdl:outputValueCalc="{ (dfdl:valueLength(../../key_token[1]/value, 'bytes') idiv 8) - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="1" name="key_token" dfdl:occursCountKind="implicit">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator>{ if
                                        (dfdl:occursIndex() eq
                                        1)
                                        then fn:true()
                                        else
                                        ../key_token[dfdl:occursIndex()-1]/FRI
                                        eq 1 }
                                      </dfdl:discriminator>
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:sequence dfdl:hiddenGroupRef="msi:FRI"/>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:length="{ (../../key_token_length/value + 1) * 8 }" dfdl:lengthUnits="bytes"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="authentication_data_a_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="authentication_data_a_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="7" dfdl:outputValueCalc="{ (dfdl:valueLength(../../authentication_data_a/value, 'bytes') idiv 8) - 1 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="authentication_data_a">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:length="{ (../../authentication_data_a_length/value + 1) * 8 }" dfdl:lengthUnits="bytes"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="authentication_data_b_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="authentication_data_b_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="7" dfdl:outputValueCalc="{ (dfdl:valueLength(../../authentication_data_b/value, 'bytes') idiv 8) - 1}"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="authentication_data_b">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tHexBinary" dfdl:length="{ (../../authentication_data_b_length/value + 1) * 8 }" dfdl:lengthUnits="bytes"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
                <xs:element name="signed_acknowledge_request_indicator">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="value" type="tns:tIntField" dfdl:length="1"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:choice>
                  <xs:sequence>
                    <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                    <xs:element name="message_security_padding_group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="message_security_padding_length">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="tns:tIntField" dfdl:length="8" dfdl:outputValueCalc=" { if (fn:exists(../../message_security_padding))   then ((dfdl:valueLength(../../message_security_padding/value, 'bits') idiv 8) - 1)   else 0 }"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:sequence>
                              <xs:sequence dfdl:hiddenGroupRef="msi:PI_true"/>
                              <xs:element name="message_security_padding">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="value" type="tns:tIntField" dfdl:length="{ (../../message_security_padding_length/value + 1) * 8}"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="msi:PI_false"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="futureUseGroup1To5">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_1" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_2" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_3" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_4" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_5" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="futureUseGroup6To10">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_6" type="tns:future_use_group_type" />
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_7" type="tns:future_use_group_type" />
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_8" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_9" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_10" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="futureUseGroup11To15">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_11" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_12" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_13" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_14" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:sequence dfdl:hiddenGroupRef="tns:PI_true_version_D1" />
          <xs:element name="future_use_15" type="tns:future_use_group_type"/>
        </xs:sequence>
        <xs:sequence dfdl:hiddenGroupRef="tns:PI_false_version_D1" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:complexType name="future_use_group_type">
    <xs:sequence>
      <xs:element name="group_size" type="tns:tIntField" dfdl:length="12" dfdl:outputValueCalc=" { (fn:count(../future_use_group_data/word) * 32) +   (fn:count(../future_use_group_data/partialWord) * dfdl:valueLength(../future_use_group_data/partialWord, 'bits')) }"/>
      <!-- DFDL doesn't allow length units of 'bits' for xs:nonNegativeInteger, 
           So we use an array of unsigned int, for this opaque region. -->
      <xs:element name="future_use_group_data">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="128" minOccurs="0" name="word" type="tns:tIntField" dfdl:length="32" dfdl:occursCount="{ ../../group_size idiv 32 }" dfdl:occursCountKind="expression"/>
            <xs:element maxOccurs="1" minOccurs="0" name="partialWord" type="tns:tIntField" dfdl:length="{ ../../group_size mod 32 }" dfdl:occursCount="{ if ((../../group_size mod 32) ne 0) then 1 else 0 }" dfdl:occursCountKind="expression"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:group name="PI_true_version_D1">
    <xs:sequence>
      <xs:element name="PI_true_D1" type="msi:presenceIndicator" dfdl:outputValueCalc="{ 1 }">
        <xs:annotation>
          <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ (. eq 1) and ($tns:versionSpec eq 'D1')  }" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="PI_false_version_D1">
    <xs:sequence>
      <xs:element name="PI_false_D1" type="xs:unsignedInt"
      dfdl:lengthKind="explicit" 
      dfdl:length="{ if ($tns:versionSpec eq 'D1') then 1 else 0 }" 
      dfdl:outputValueCalc="{ 0 }" />
    </xs:sequence>
  </xs:group>
  
</xs:schema>
